.Box-container {
  height: 385px;
  width: 555px;
  display: flex;
  position: relative;
}


.ResultBox, .SummaryBox {
  display: inline-block;
  width: 50%;
}

.SummaryBox {
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  
  border-radius: 25px;
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.Summary-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 277.5px;
  height: 100%;
  
  border-radius: 25px;
  background-color: white;
}

.Your-result-header {
  margin-top: 30px;
  color: hsl(241, 100%, 89%);
  font-weight: bold;
  font-size: 18px;
  font-family: 'Hanken Grotesk', sans-serif;
}

.Result-value {
  font-size: 52px;
  font-weight: 400px;
  color: hsl(0, 0%, 100%);
  font-family: 'Hanken Grotesk', sans-serif;
}

.Result-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.Result-total-value {
  margin-top: -5px;
  font-size: 13px;
  color: hsla(241, 100%, 89%, 0.5);
  font-weight: bold;
}

.Great-text {
  font-size: 24px;
  margin-top: 22px;
  color:hsl(0, 0%, 100%);
  font-weight: bold;
  font-family: 'Hanken Grotesk', sans-serif;
}

.Your-score-text {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 13px;
  margin-top: 10px;
  color:hsla(241, 100%, 89%, 1);
  text-align: center;
  margin-left: 45px;
  margin-right: 45px;
}

.Summary-header {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
  align-self: flex-start;
}

.Summary-result-container1, .Summary-result-container2, .Summary-result-container3, .Summary-result-container4 {
  display: flex;
  height: 50px;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10%;
  white-space: nowrap;
  align-items: center;
}

.Summary-result-container1 {
  background-color: hsla(0, 100%, 67%, .1);
}

.Summary-result-container2 {
  background-color: hsla(39, 100%, 56%, .1);
}

.Summary-result-container3 {
  background-color: hsla(166, 100%, 37%, .1);
}

.Summary-result-container4 {
  background-color: hsla(234, 85%, 45%, .1);
  
}

.Summary-button-container {

}

.Summary-button {
  
}

.Icon-image {
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}

.Reaction-text {

}