.Box-container {
  height: 385px;
  width: 555px;
  display: flex;
  position: relative;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eff1fd;
}

@media (max-width: 767px) {
  .Box-container {
    height: 100%;
    display: unset;
    flex-wrap: wrap;
  }

  .App {
    height: 100%;
  }
}
